[app]
# 应用名
AppName = config_tools
# 是否开启Debug
Debug = true

[log]
# 输出日志路径
LogPath = ./run-logs
# 日志存放天数
LogDay = 7

[http]
# 端口
Port = 8800

[sign]
# 签名秘钥
SignKey = 90ee174e4a93ab18f650907bb0dce69e
# 签名超时时间（秒）
TimeOut = 6

[jwt]
# token解析Key
SecretKey = a3fc7fa2825b15ce631e82bd4908f523
# token有效时间（小时）
TimeOut = 24
# 发行者
Issuer = KC

[redis]
# Redis地址
Addr = 127.0.0.1:6379
# 密码
PassWord = 
# 选择库
DB = 0

[mysql]
# Mysql地址
Addr = 127.0.0.1:3306
# 账号
Account = root
# 密码
Password = 123456
# 库
DataBase = config_tools